%box-inform-style {
  height: 190px;
  border-radius: 35px 35px 35px 35px;
  border: none;
  background-color: $primary-color-box;
}

%margin-center {
  margin-left: auto;
  margin-right: auto;
}

%paddings-box {
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 35px;
  padding-top: 25px;
}

%before-element-effect {
  content: '';
  width: 1px;
  height: 20px;
  position: absolute;
  background-color: $color-effect;
}