// color
$primary-color-input: #ffffff;
$primary-color-white-opasity-border: #ffffff33;
$primary-color-white-opacity: #ffffffca;
$primary-color-input-text: #444444;
$primary-color-box: #102136be;
$primary-color-box-tab: #102136;
$primary-color-text: #ffffffa1;
$primary-color-text-tab: #ffffff4d;
$primary-color-text-white: #f7f7f7;
$color-effect: #e7e8eb;
$color-icon-star: #f2d50f;
$color-btn-arrow: #f1f1f133;
$color-btn-list-five-days: #979da4;
$color-item-bg: #102136;
$color-item-bg-quotes: #10213698;
$color-item-close: #b1b8c2;
$color-tempr-value: #ff6b08;

// font
$primary-font: 'Lato',
sans-serif;
