.quotes {
  // height: 155px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  border-radius: 25px 25px 25px 25px;

  &__box {
    text-align: right;
    vertical-align: middle;
    margin-right: 5px;
    @media only screen and (min-width: 1280px) {
    display: inline-block;
    width: 492px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
  }
  &__text {
    font-size: 14px;
    color: $primary-color-input;
    font-style: italic;
    line-height: 21px;
    @media only screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 32px;
      padding-bottom: 9px;
    }
    @media only screen and (min-width: 1280px) {
       width: 485px;
       padding-right: 30px;
       margin-right: 0px;
    }
  }
  &__author{
  font-size: 18px;
  color: $primary-color-input;
  line-height: 32px;
  @media only screen and (min-width: 1280px) {
    padding-right: 30px;
 }
  }
  @media only screen and (min-width: 768px) {
    width: 492px;
  }

  @media only screen and (min-width: 1280px) {
    display: inline-block;
    margin-left: 148px;
    position: relative;
    top: -55px;
  }
}
