html {
  box-sizing: border-box;
}

* {
margin-bottom: 0;
margin-top: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(89, 89, 89, 0.534);
}

.container {
  width: 280px;
  margin: 0 auto;
  @media only screen and (min-width: 768px) {
    width: 728px;
  }
  @media only screen and (min-width: 1280px) {
    width: 1240px;
  }
}
